<% link ||= false %>
<div class="span2">
</div>
<div class="span6">
    <h1>
        <% if link %>
        <a href='<%= [@prefix, params[:category], @params[:dash]].join "/" %>'>
        <% end %>
        <%= @dashboard.name %>
        <% if link %></a><% end %>
    </h1>
    <h2>
        <small>
            <% if link %>
            <%= @parent_graph[:graphite][:title] %>
            <% else %>
            <%= @dashboard.description %>
            <% end %>
        </small>
    </h2>
</div>
